$darker: #16181d;

.mock-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
  background-color: $darker;
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
}

.mock-item:hover {
  opacity: 0.8;
}
.mock-item:active {
  opacity: 0.8;
}

.roster-panel {
  height: 0;
  padding: 0;
  width: 100%;
  background-color: $darker;
  position: absolute;
  bottom: 64px;
  transition: all 0.35s ease;
  box-sizing: border-box;
}
.panel-full-expanded {
  border-top: 1px solid rgba(204, 204, 204, 0.6);
  height: 55svh;
  padding: 16px;
  bottom: 64px !important;
}
.panel-expanded {
  border-top: 1px solid rgba(204, 204, 204, 0.6);
  height: 25svh;
  bottom: 40svh;
  padding: 16px;
}

.collapsed {
  height: 64px;
}
/* LoadingIcon.css */
.loading-icon {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal {
  position: fixed; /* Position the modal over the content */
  top: 50%; /* Center the modal vertically */
  left: 50%;
  transform: translate(-50%, -50%); /* Adjust the position to be centered */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Add a subtle shadow to give it a popover effect */
  border-radius: 8px; /* Rounded corners */
  width: 80vw;
  height: 30svh;
  padding: 16px;
}

.modal-overlay {
  position: fixed; /* Cover the entire screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    250,
    250,
    250,
    0.2
  ); /* Semi-transparent background to dim the content behind */
}
