$darker: #16181d;

.mock-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
}

.mock-item:hover {
  opacity: 0.8;
}
.mock-item:active {
  opacity: 0.8;
}

.roster-panel {
  height: 0;
  padding: 0;
  width: 100%;
  background-color: $darker;
  position: absolute;
  bottom: 64px;
  transition: all 0.35s ease;
  box-sizing: border-box;
}
.panel-full-expanded {
  border-top: 1px solid rgba(204, 204, 204, 0.6);
  height: 55svh;
  padding: 16px;
  bottom: 64px !important;
}
.panel-expanded {
  border-top: 1px solid rgba(204, 204, 204, 0.6);
  height: 25svh;
  bottom: 40svh;
  padding: 16px;
}

.collapsed {
  height: 64px;
}
/* LoadingIcon.css */
.loading-icon {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
