$blue: #35a7ff;
$red: #a63446;
$light: rgb(206, 206, 206);
$dark: #1f2126;
$darker: #16181d;
$lime: #54d846;
$purple: #b039ff;
$yellow: #ffe74c;

.menu {
  background-color: transparent;
  border: none;
}

.primary {
  background-color: $dark;
  border: 2px solid $dark;
  color: white;
  border-radius: 4px;
  height: 36px;
  padding: 8px;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
}

.primary-inverted {
  background-color: $dark;
  border: 2px solid $blue;
  color: white;
  border-radius: 4px;
  height: 36px;
  padding: 8px;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
}

.secondary {
  background-color: white;
  border: 2px solid $blue;
  color: $blue;
  border-radius: 4px;
  height: 36px;
  padding: 8px;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
}

.primary-active {
  background-color: $blue;
  border: 2px solid $blue;
  color: $dark !important;
  border-radius: 4px;
  height: 36px;
  padding: 8px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.secondary-active {
  background-color: $blue;
  border: 2px solid $blue;
  color: $dark;
  border-radius: 4px;
  height: 36px;
  padding: 8px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.icon-button {
  background-color: transparent;
  text-decoration: none;
  border-width: 0px;
  display: flex;
}

.button-sm {
  height: 24px;
  border-radius: 4px;
  padding: 0px;
}
.inverted {
  border: 2px solid $blue;
  color: $blue;
  font-weight: bold;
  text-decoration: none;
}

.button-disabled {
  background-color: $light;
  border-color: $light;
}
