.home-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

@media screen and (max-width: 767px) {
  .home-body {
    display: grid;
    grid-template-columns: auto;
  }
}

.bottom-drawer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  z-index: 98;
  background-color: #1f2126;
  transition: all 0.35s ease;
  padding: 16px;
  box-sizing: border-box;
  max-width: 1272px;
}

.half-expanded {
  height: 40dvh;
}

.expanded {
  height: 75dvh;
}
