.home-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  margin: 0 24px 32px;
  padding-bottom: 32px;
}

@media screen and (max-width: 767px) {
  .home-body {
    display: grid;
    grid-template-columns: auto;
  }
}
