$blue: #35a7ff;
$red: #a63446;
$light: rgb(206, 206, 206);
$dark: #1f2126;
$darker: #16181d;
$lime: #54d846;
$purple: #b039ff;
$yellow: #ffe74c;

.app {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: $dark;
  min-height: 100vh;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  //   border-bottom: 1px solid gray;
  box-shadow: 0 0 4px $light;
  height: 88px;
  background-color: $darker;
  padding: 16px;
  box-sizing: border-box;
  z-index: 999;
}

.bg-dark {
  background-color: $dark;
}

.body {
  display: flex;
  height: 100%;
  min-height: calc(100vh - 88px);
  width: 100%;
}

.content {
  width: calc(100vw - 330px);
}
.subcontent {
  padding-top: 12px;
  max-width: 1272px;
  max-height: 100%;
  margin: 0 auto;
}

.subcontent-home {
  padding: 0px !important;
}
.sidenav {
  z-index: 999;
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $dark;
  height: 100%;
  min-height: calc(100vh - 88px);
  position: absolute;
  right: 0px;
  padding: 0 8px;
  //   padding: 24px 0;
}

@media screen and (max-width: 768px) {
  .subcontent {
    max-height: 100vh;
    &.h-100 {
      max-height: 100%;
    }
  }
  .sidenav {
    width: 200px;
  }
  .body {
    width: 100%;
  }
}

.list-item h5 {
  color: $blue;
  margin: 0;
  transition: all 0.35s ease;
}

.list-item:hover {
  h5 {
    color: $purple;
  }
}
.list-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  background-color: $dark;
  text-decoration: none;
  border-bottom: 1px solid $light;
}
