$blue: #35a7ff;
$red: #a63446;
$light: rgb(206, 206, 206);
$dark: #1f2126;
$darker: #16181d;
$lime: #54d846;
$purple: #b039ff;
$yellow: #ffe74c;

.app {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: $dark;
  min-height: 100vh;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  //   border-bottom: 1px solid gray;
  box-shadow: 0 0 4px $light;
  height: 88px;
  background-color: $darker;
  padding: 16px 32px;
  box-sizing: border-box;
  z-index: 999;
}

.bg-dark {
  background-color: $dark;
}

.body {
  display: flex;
  height: 100%;
  min-height: calc(100vh - 88px);
  width: 100%;
}

.content {
  width: calc(100vw - 330px);
}
.subcontent {
  padding-top: 12px;
  max-width: 1272px;
  max-height: 100%;
  margin: 0 auto;
}
.sidenav {
  z-index: 999;
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
  background-color: $dark;
  height: 100%;
  min-height: calc(100vh - 88px);
  position: absolute;
  right: 0px;
  //   padding: 24px 0;
}

@media screen and (max-width: 768px) {
  .subcontent {
    max-height: 100vh;
    &.h-100 {
      max-height: 100%;
    }
  }
  .sidenav {
    width: 200px;
  }
  .body {
    width: 100%;
  }
}
// .list-item {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   padding: 12px 24px;
//   box-sizing: border-box;
//   box-shadow: 0px 5px rgba(206, 206, 206, 0.5);
// }

.list-item p {
  color: $blue;
  font-size: 20px;
  letter-spacing: 0.4px;
  margin: 0;
  transition: all 0.35s ease;
}

.list-item:hover {
  p {
    color: $purple;
  }
}
.list-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 12px 24px 16px;
  box-sizing: border-box;
  background-color: $dark;
  text-decoration: none;
}

.list-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px; /* Adjust the height to control the blurring effect */
  background: linear-gradient(rgba(206, 206, 206, 0.5), transparent);
  pointer-events: none;
}
