$light: rgb(206, 206, 206);

.vertical {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 0 4px $light;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  text-align: center;
  color: white;
  height: 100%;
}
