$light: rgb(206, 206, 206);

.vertical {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 8px;
  border-radius: 8px;
  // box-shadow: 0 0 4px $light;
  align-items: center;
  justify-content: space-around;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  text-align: center;
  color: white;
  height: 100%;
}

.icon-container {
  background: linear-gradient(
    to right,
    #ff7e5f,
    #feb47b
  ); /* Your gradient colors */
  padding: 10px;
}

.icon-container i {
  color: transparent; /* Make the icon color transparent to allow the gradient to show through */
}
