$blue: #35a7ff;
$red: #a63446;
$light: rgb(206, 206, 206);
$dark: #1f2126;
$darker: #16181d;
$lime: #54d846;
$purple: #7209b7;
$yellow: #ffe74c;

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.w-100 {
  width: 100%;
}

h1 {
  font-size: 24px;
  color: $lime;
  margin: 0;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 16px;
  }
}
h3 {
  color: $blue;
  margin: 0;
}

h5 {
  color: $blue;
  margin: 0;
}
.subtitle {
  color: rgb(118 118 118);
}
